* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container{
  width: 80%;
  margin: 0 auto;
}
/* Top Bar for Contact Info */
.top-bar {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  /* background-color: #ffffff; */
  color: rgb(65, 77, 109);
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  /* padding: 0 0; */
  /* font-size: 12px; */
}

.top-mission {
  display: flex;
  align-items: center;
}

.top-contact-info {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(52, 18, 207);
  padding: 15px;
  height: 70px;
}

.company-logo {
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.nav-links {
  color: white;
  margin: 0 15px;
  font-size: 16px;
}

.nav-link:hover {
  color: #ffd700;
}

.text-white {
  color: white;
}

.quote-btn {
  background-color: #FFD700;
  /* Gold for "Get a Quote" */
  color: #001F3F;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quote-btn:hover {
  background-color: #FFC107;
  /* Darker gold */
}

/* Hero Section */
.hero {
  background-image: url('../assets/cleaning\ image1.jpeg');
  /* Add the hero background image */
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

.hero-info p {
  font-size: 32px;
  font-weight: bold;
}

.hero-info h5 {
  font-size: 24px;
}

/* Footer */
footer {
  background-color: #3412CF;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 40px;
  background-color: #5e9c84;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-item h3 {
  font-size: 1.5em;
  color: #3412CF; /* You can adjust to match your business color */
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

.services-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styling the overall section */
.services-section {
  margin: 50px 0;
}

.services-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
