.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
  align-items: center;
  background-color: darkolivegreen;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%
}

.text-white {
    color: white;
}

.hero {
    background-image: url(../assets/imagereplace0010.webp);
    height: 100vh;
    background-size: cover;
    padding-left: 10%;
    /* note: margin creates outer spaces and padding creates inner space */
  }


